# Jekyll
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
vendor/
Gemfile.lock

# Visual Studio 2022
.vs/
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates
*.sln
*.csproj
.vsconfig

# Visual Studio cache/options
.vs/
*.vspscc
*.vssscc

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/

# Visual Studio profiler
*.psess
*.vsp
*.vspx

# ReSharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# macOS
.DS_Store
